@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #3B82F6;
    --off-white: #F3F4F6;
    --dark-gray: #8B7280;
    --dark-pink:#F87171;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-bottom:2rem
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
 }
 .link-secondary{
     /* color:var(--primary-color); */
     border-radius: 0.5rem;
     border: 1px solid var(--primary-color);
     
 }
 .blog{
    color: var(--dark-pink);
    text-decoration: underline;
    font-size: xx-large;

    
 }

 .container {
    padding-left: 1rem;
    padding-right: 1rem;

}
.container-center{
    max-width: 600px;
    margin-right: auto;
}